<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Progate</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="header-top">
        <a href="/">TOP</a>
      </div>
    <div class="header-menus">
        <!--プロフィールページへのリンク-->
        <a href="/profile">Profile</a>
        <!--ビジョンページへのリンク-->
        <a href="/vision">Vision</a>
        <!--ビジョンページへのリンク-->
        <a href="/contact">Contact</a>
    </div>
    </header>
    <div class="top-wrapper">
      <div class="content">
        <h1><span>K</span>OSUKE<span>.</span></h1>
        <h1><span>S</span>UEMATSU<span>.</span></h1>
        <p>Webエンジニアを目指してます</p>
      </div>
    </div>
    <footer>
      <div class="container">
      </div>
    </footer>
  </body>
</html>
