<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Progate</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="header-top">
        <a href="/">TOP</a>
      </div>
    <div class="header-menus">
        <!--プロフィールページへのリンク-->
        <a href="/profile">Profile</a>
        <!--ビジョンページへのリンク-->
        <a href="/vision">Vision</a>
        <!--ビジョンページへのリンク-->
        <a href="/contact">Contact</a>
    </div>
    </header>
    <div class="profile-wrapper">
      <div class="profile-pict00"></div>
      <div class="content">
        <div class="profile-list">
          <h1>名前</h1>
          <p>末松　晃介</p>
          <h1>生年月日</h1>
          <p>1992/08/05</p>
          <h1>経歴</h1>
          <p>愛知大学国際コミュニケーション学部を卒業後、
            レディースアパレルブランドINGNIの総合職として入社。
            半年間、在庫管理業務に従事するが、以前から強く興味
            を抱いていたIT業界への転身を決意し退社する。その後、
            現職の株式会社アイコンに入社。シーケンサプログラマーとして、
            コンベアシステムのテスト・開発業務に従事。
            現在は、Webエンジニアを目指し、転職活動中。</p>
          <h1></h1>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
      </div>
    </footer>
  </body>
</html>
