<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Progate</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="header-top">
        <a href="/">TOP</a>
      </div>
    <div class="header-menus">
        <!--プロフィールページへのリンク-->
        <a href="/profile">Profile</a>
        <!--ビジョンページへのリンク-->
        <a href="/vision">Vision</a>
        <!--ビジョンページへのリンク-->
        <a href="/contact">Contact</a>
    </div>
    </header>
    <div class="vision-wrapper">
        <div class="vision-pict00"></div>
        <p>相対的な技術レベルを意識し、他者との差別化を図れるよう、常に最新の技術に触れていきます。</p>
    </div>
    <footer>
      <div class="container">
      </div>
    </footer>
  </body>
</html>
